<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="RegisterTest">
   <classes>
               <class name="groupingAnnotations.RegisterTest"/>
       </classes>
  </test> 
   <test thread-count="5" name="LoginTest">
        <classes>
                <class name="groupingAnnotations.LoginTest"/>
        </classes>
  </test> 
  
  <test thread-count="5" name="SearchTest">
  		
       <classes>
               <class name="groupingAnnotations.SearchTest"/>
       </classes>
  </test> 
</suite> <!-- Suite -->
